<app-nav></app-nav>

<div class="container my-5">
    <h1 class="text-center mb-4">Nuestros Productos</h1>
    <div class="row">
        <!-- <div class="col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let receta of recetas">
            <div class="card h-100">
                <img src="{{receta.img_ruta}}" class="card-img-top" alt="Producto">
                <div class="card-body">
                    <h5 class="card-title">{{receta.nombre}}</h5>
                    <p class="card-text">{{receta.descripcion}}</p>
                    <p class="card-text font-weight-bold">Autor: {{receta.autor}}</p>
                    <hr>
                    <p class="card-text font-weight-bold">Dificultad: {{receta.dificultad}}</p>

                    <button type="button" class="btn btn-outline-success">Ver Detalle</button>
                </div>
            </div>
        </div> -->
        <!-- <div *ngFor="let producto of productos" class="col-sm-6 col-md-4 col-lg-3 mb-4" >
            <div class="card h-100">
                <img src="{{producto.rutaImg}}" class="card-img-top" alt="Producto">
                <div  class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.fechaCreacion}}</p>
                    <hr>

                    <button type="button" class="btn btn-outline-success">Ver Detalle</button>
                </div>
            </div>
        </div> -->
    </div>
</div>